// Ribbon resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2011 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Ribbon/Resource.h"
#include "Ribbon/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_RIBBONCUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Gyorselérés"
    BEGIN
        MENUITEM "&Eltávolítás a Gyorselérési eszköztárról",               XTP_ID_RIBBONCUSTOMIZE_REMOVE
        MENUITEM "&Hozzáadás a Gyorselérési eszköztárhoz",                    XTP_ID_RIBBONCUSTOMIZE_ADD
        MENUITEM SEPARATOR
        MENUITEM "&Gyorselérési eszköztár testreszabása...",              XTP_ID_RIBBONCUSTOMIZE
        MENUITEM "&Megjelenítés a menüszalag alatt",     XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSBELOW
        MENUITEM "Meg&jelenítés a menüszalag felett",     XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSABOVE
        MENUITEM SEPARATOR
        MENUITEM "M&enüszalag elrejtése",              XTP_ID_RIBBONCUSTOMIZE_MINIMIZE
    END
END

XTP_IDR_RIBBONCUSTOMIZEMENUMORE MENU DISCARDABLE 
BEGIN
    POPUP "Gyorselérés"
    BEGIN
        MENUITEM "&Gyorselérési eszköztár testreszabása",                 XTP_ID_RIBBONCUSTOMIZE_LABEL
        MENUITEM "[Parancsok]",                                      XTP_ID_RIBBONCUSTOMIZE_COMMANDS
        MENUITEM SEPARATOR
        MENUITEM "&More Commands...",                               XTP_ID_RIBBONCUSTOMIZE_MORE
        MENUITEM "&Show Below the Ribbon",                          XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSBELOW_MORE
        MENUITEM "&Show Above the Ribbon",                          XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSABOVE_MORE
        MENUITEM SEPARATOR
        MENUITEM "M&enüszalag elrejtése",                            XTP_ID_RIBBONCUSTOMIZE_MINIMIZE
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_RIBBONCUSTOMIZE_QUICKACCESS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Gyorselérés"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Parancsok kiválasztása innen:",IDC_STATIC,4,5,106,8
    COMBOBOX        XTP_IDC_RIBBONCOMBO_CATEGORIES,4,15,91,85,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_RIBBONLIST_COMMANDS,4,32,91,101,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "&Hozzáad",XTP_IDC_RIBBONBUTTON_ADD,99,61,31,14
    PUSHBUTTON      "&Töröl",XTP_IDC_RIBBONBUTTON_REMOVE,99,78,31,14
    LISTBOX         XTP_IDC_RIBBONLIST_QUICKACCESS,134,32,91,84,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "&Visszaállít",XTP_IDC_RIBBONBUTTON_RESET,134,119,52,14
    CONTROL         "&Megjelenítés a Menüszalag alatt",
                    XTP_IDC_RIBBONCHECK_SHOWQUICKACCESSBELOW,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,136,221,12
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_RIBBONCONTROLQUICKACCESS     "\nGyorselérési eszköztár testreszabása"
    XTP_ID_RIBBONCONTROLQUICKACCESSMORE "\nTovábbi parancsok"
    XTP_IDS_RIBBONCUSTOMIZE_CONFIRMRESET "Biztosan vissza kívánja állítani a Gyorselérési eszköztárat az alapértelmezett parancsokra?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
